{{ form_start(form) }}

<div class="mb-3">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
</div>

<div class="mb-3">
    {{ form_label(form.url) }}
    {{ form_widget(form.url) }}
    {{ form_errors(form.url) }}
</div>

<div class="mb-3">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
</div>

<button class="btn btn-success">
    {{ button_label|default('Enregistrer') }}
</button>

{{ form_end(form) }}