{% extends 'base.html.twig' %}

{% block title %}Link index{% endblock %}

{% block body %}
    <h1>Liens</h1>

    <a href="{{ path('app_home_page') }}" class="btn btn-warning">Retour vers la page principale</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Url</th>
                <th>Description</th>
                <th>Mots-clés</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td>{{ link.title }}</td>
                <td>{{ link.url }}</td>
                <td>{{ link.description }}</td>
                <td>
                    {% for keyword in link.keywords %}
                    <span class="badge bg-secondary">{{ keyword }}</span>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun lien</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
