{% extends 'base.html.twig' %}

{% block title %}Link{% endblock %}

{% block body %}
    <h1>Lien</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin_dashboard') }}" class="btn btn-warning">Retour vers la liste</a>
    {% else %}
        <a href="{{ path('app_home_page') }}" class="btn btn-warning">Retour vers la liste</a>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ link.title }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ link.url }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ link.description }}</td>
            </tr>
            <tr>
                <th>Mots-clés</th>
                <td>
                    {% for keyword in link.keywords %}
                    <span class="badge bg-secondary">{{ keyword }}</span>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_link_edit', {'id': link.id}) }}" class="btn btn-secondary">Editer</a>
        {{ include('link/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
